.weather-card-wrap{
  width: 250px;
  height: 200px;
    background: url('../../assets/bg1.jpg') no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-top: 2%;
    box-shadow: 0 0 25px rgb(138, 138, 138);
}
.marign-0{
    margin: 0;
}
.weather-sec-1{
    padding: 6% 10% 0 10%;
    display: flex;
    justify-content: flex-start;
    font-size: 0.8em;
    font-weight: 400;
}
.weather-head{
   margin-left: 4%;
   color: #fff;
}
.weather-head p:nth-child(2){
    font-size: 0.7em;
}
.weather-sec-2{
    display: flex;
padding: 6% 10% 0 10%;
}
.temp-wrap p:nth-child(1){
font-size: 1.8em;
margin: 0;
}
.temp-wrap p:nth-child(2){
font-size: 0.7em;
margin: 0;
}
.weather-sec-2 div:nth-child(2)>p{
    font-size: 0.8em;
    background-color: #ffff;
border-radius: 4px;
margin-top: 30%;
}
.weather-sec-3{
    display: flex;
    justify-content: space-between;
    padding: 6% 10% 0 10%;
}
.sub-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    padding: 3%;
    border-radius: 10px;

}
.sub-card p:nth-child(1){
    font-size: 0.7em;
   margin: 1% 1% 0 1%;
}
.sub-card p:nth-child(2){
    font-size: 0.9em;
   margin: 4% 1% 0 1%;
}