.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
}


.sub-container{
display: flex;
justify-content: center;
  background-color: #fffbfbcc;


}
.card-cont{
    display: flex;
    justify-content: center;
    gap: 3%;
   flex-wrap: wrap;
   padding: 0 1% 1% 1%;
}
